go 1.26.1

use (
	./modules/csv
	./modules/db/postgres
	./modules/db/sqlite
	./modules/document/pdf
	./modules/document/xlsx
	./modules/net/rest
	./modules/security/jwt
	./modules/toml
	./modules/web/article
	./modules/web/html
	./modules/web/robots
	./modules/web/sitemap
	./modules/xml
	./modules/yaml
	./pkg/common
	./tests/runtime
)

replace github.com/MontFerret/contrib/pkg/common v0.1.0 => ./pkg/common
